{
    "id":1,
    "orgId":1,
    "name":"Hadoop",
    "type":"influxdb",
    "access":"proxy",
    "url":"http://{{ influxdb_server }}:8086",
    "database":"CDH",
    "user":"admin",
    "password":"admin",
    "basicAuth":false,
    "basicAuthUser":"",
    "basicAuthPassword":"",
    "isDefault":true,
    "jsonData":null
}

