<domain type='kvm'>
<!--dynamic name-->
  <name>'vm{{ item }}'</name>
  <!--UUID should be generated-->
  <memory unit='GiB'>{{ mem }}</memory>
  <currentMemory unit='GiB'>{{ mem }}</currentMemory>
  <vcpu cpuset='{{ int(item) * cpu }}-{{ (int(item) + 1)*cpu - 1 }}'>{{ cpu }}</vcpu>
    <cputune>
	{% for n in range(cpu - 1) %}
	  <vcpupin vcpu='{{ n }}' cpuset='{{ item*cpu + n }}'/>
	{% endfor %}
    </cputune>
  <numatune>
    <memory mode='preferred' placement='auto'/>
  </numatune>
  <os>
    <type arch='x86_64' machine='pc-i440fx-trusty'>hvm</type>
    <boot dev='hd'/>
  </os>
  <features>
    <acpi/>
    <apic/>
    <pae/>
  </features>
  <cpu mode='host-passthrough'/>
  </cpu>
  <clock offset='utc'/>
  <on_poweroff>destroy</on_poweroff>
  <on_reboot>restart</on_reboot>
  <on_crash>restart</on_crash>
  <devices>
    <emulator>/usr/bin/kvm-spice</emulator>
	{% for disk in disks[item * vm_disks : (item + 1) * vm_disks] %}
	<disk type='block' device='disk'>
      <driver name='qemu' type='raw'/>
      <source dev='{{ disk }}1'>
      <target dev='sd{{ disk[disk.len()] }}' bus='virtio'/>
	</disk>
	{% endfor %}
    <disk type='block' device='cdrom'>
      <driver name='qemu' type='raw'/>
      <target dev='hdc' bus='ide'/>
      <readonly/>
    </disk>
    <controller type='pci' index='0' model='pci-root'/>
    <controller type='ide' index='0'>
    </controller>
    <controller type='usb' index='0'>
    </controller>
    <serial type='pty'>
      <target port='0'/>
    </serial>
    <console type='pty'>
      <target type='serial' port='0'/>
    </console>
    <input type='mouse' bus='ps2'/>
    <input type='keyboard' bus='ps2'/>
    <graphics type='vnc' port='-1' autoport='yes'/>
    <video>
      <model type='cirrus' vram='16384' heads='1'/>
    </video>
    <memballoon model='virtio'>
    </memballoon>
  </devices>
</domain>
